@font-face {
    font-family: barcode;
    src: url("fonts/barcode.ttf");
}

@font-face {
    font-family: superscr;
   	src: url("fonts/Old_School_Adventures.ttf");
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	font-family: 'Jura', sans-serif;
	cursor: default;
}

html{
	height: 100%;
}

body {
	margin: 0px;
	height: 100%;
	background-color: #323a4d;
}

a{	
	text-decoration: none;
	cursor: pointer;
}

nav {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 65px;
	background-color: #282f3e;
	z-index: 10;
}

ul {
	list-style: none;
	display: flex;
	flex-flow: row;
	height: 100%;
	padding: 0;
	margin: 0;
}

li {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;
}

li a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	font-size: 24px;
	font-weight: 800;
}

li a:hover {
	background-color: #fff;
}

li a:hover i {
	color: #282f3e;
	cursor: pointer;
}



#title {
	position: absolute;
	top: 35px;
	right: 50%;
	transform: translateX(50%);
}


#title h3, #title p, #list-title h3, #list-title p{
	margin: 0 0 0 5px;
}

#title p, #list-title p{
	font-size: 1.03em;
	text-align: center;
}

#ico-title{
	font-family: 'barcode';
	font-size: 2.2em;
	position: relative;
	top: 5px;
}

#wall-title{
    font-family: 'superscr';
	font-size: 1.7em;
	background: #fff;
	color:  #282f3e;
	padding: 0 0 0 5px;
	margin-left: 3px;
}

#tools {
	width: 100%;
	position: fixed;
	bottom: 65px;
	display: none;
	z-index: 10;
	text-align: center;
	padding: 10px 0 0 0;
	background-color: #323a4d;
}

#tools div {
	width: 32%;
	display: inline-block;
}

#tools h3 {
	font-family: superscr;
	margin: 0 auto 5px auto;
	font-size: 0.8em;
}


#tools input {
	background-color: #282f3e;
	color: #fff;
	height: 40px;
	font-family: superscr;
}

section {
	width: 100%;
	/*min-height: 100%;*/
	text-align: center;
	padding: 150px 0 30px 0;	
}

#grid-container {
	position: relative;
}

#grid {
	width: 100%;
	height: auto;
}

#icons-container, #buy-grid {
	position: absolute;
}

#icons-container img {
	position: absolute;
	cursor: pointer;
}

#info-section, #list-section {
	display: none;
	width: 100%;
	position: absolute;
	top: 0;
	background-color: #323a4d;
	padding: 35px 0 75px 0;
}

#info-container{
	width: 100%;
	position: relative;
}

#info-container h1{
	margin: 10px 0 50px 0;

}

table {
	width: 100%;
	margin: 50px 0;
}

.img-column {
	padding: 10px;
}

.img-column img{
	width: 100%;
	max-width: 100px;
	height: auto;
	cursor: pointer;
}

#icon, #upload-section {
	display: none;
	position: absolute;
	top: 0;
}

#upload-section {
	overflow:hidden;
}

#buy-grid img {
	position: absolute;
}

#icon-preview {
	position: absolute;
	cursor: pointer;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 100; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,50,50,0.8); 
}

.modal-content {
    background-color: #323a4d;
	margin: 0 auto;
	width: 90%;
	max-width: 300px;
	height: 430px;
	top: 50%;
	position: relative;
	transform: translateY(-50%);
	padding: 20px;
}

.modal p {
	font-size: 0.9em;
	margin: 5px auto 0 auto;
}

.modal-content .close {
	float: right;
	font-weight: 800;
	position: absolute;
	top: 5px;
	right: 5px;
	font-family: 'superscr';
	cursor: pointer;
}

#buy-modal .modal-content {
	height: 445px;
}

#login, #signup, #position-confirmation, #icon-registration, #password-recovery, #restore-password-email {
	display: block;
	height: 100%;
}

.modal h3 {
	text-align: center;
	margin: 0 auto;
}

form {
	width: 250px;
	margin: 0 auto;
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	text-align: left;
}

form p {
	text-align: center;
}

form h4	{
	margin: 0 0 10px 0;
	font-size: 1.2em;
	font-weight: 100;
}

#signup form {
	top: 48%;
}

form button {
	width: 100%;
	border: none;
	height: 50px;
	color: #fff;
	background-color: #282f3e;
	font-family: 'superscr';
	font-size: .65em;
	cursor: pointer;
	padding: 17px;
}

#cancel-position, #accept-position{
	width: 48%;
	float: left;
}

#position-confirmation form {
	top: 40%;
}

#icon-registration form {
	top: 45%;
}

#position-confirmation p {
	position: relative;
	top: 15%;
	font-size: 1.23em;
	text-align: center;
}

.ico-date {
	color: #000;
	height: 45px;
	border: none;
	background-color: #fffffe;
	width: 32.2%;
	margin: 0 0 10px 0;
}

#cancel-position {
	margin: 0 4% 0 0;
	background-color: rgba(150,0,0,0.8);
}

#accept-position {
	background-color: rgba(0,100,0,0.8);
}

input {
	margin: 0 0 10px 0;
	width: 100%;
	color: #000;
	height: 45px;
	padding: 0 10px;
	border: none;
}

textarea {
	margin: 0 0 10px 0;
	width: 100%;
	color: #000;
	padding: 0 10px;
	border: none;
}

#signup, #icon-registration, #restore-password-email {
	display: none;
}

#password-login{
	margin: 0;
}

#forgot-password {
	margin: 0 0 10px 0;
	display: inline-block;
	cursor: pointer;
}

#feed {
	display: none;
}

#icon-registration option {
	background-color: #282f3e;
	color: #fff;
}

.subscribe-wrapper {
	/*position: relative;
	bottom: 70px;*/
	margin-bottom: 75px;
}

.subscribe-wrapper #mc_embed_signup {
	background-color: transparent;
}

.subscribe-wrapper #mc-embedded-subscribe-form {
	width: 85%;
	transform: none;
	top: 0;
}

.subscribe-wrapper #mc_embed_signup label {
	font-family: 'superscr';
	font-size: 0.7em;
}

.subscribe-wrapper #mc_embed_signup input.email {
	background-color: #fff;
	border: 1px solid #282f3e;
	border-radius: 0;
	color: #000;
	text-align: center;
	font-family: 'Jura';
}

.subscribe-wrapper #mc_embed_signup .button {
	background-color: #282f3e;
	border: 1px solid #ABB0B2;
}

@media only screen and (min-width: 600px) {
	th, td {
		font-size: 1em;
	}
}

@media only screen and (min-width: 1150px) {

	nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 65px;
		height: 100%;
		background-color: #282f3e;
		box-shadow: 3px 0px 10px rgba(0,0,0,.5);
	}

	ul {
		flex-flow: column;
	}

	#title {
		top: 20px;
		right: 15px;
		transform: unset;
	}

	#tools {
		width: 180px;
		position: absolute;
		top: 150px;
		right: 20px;
		display: none;
		text-align: right;
	}

	#tools div {
		width: 100%;
		display: block;
	}

	section{
		height: 100%;
		width: -webkit-calc(100% - 285px);
		width: -moz-calc(100% - 285px);
		width: calc(100% - 285px);
		margin: 0 0 0 70px;
		padding: 0;
	}

	#grid-container {
		height: 100%;
		overflow: hidden;
	}

	#grid {
		height: 100%;
		width: auto;
	}

	#info-section, #list-section {
		width: -webkit-calc(100% - 70px);
		width: -moz-calc(100% - 70px);
		width: calc(100% - 70px);
		float: right;
	}

	th, td {
		font-size: 1.35em;
	}

	#feed {
		display: block;
		position: absolute;
		top: 15%;
		right: 15px;
		width: 17%;
		height: 68%;
		overflow-y: scroll;
		overflow-x: hidden;
		border-radius: 0;
		border: none;
		min-height: unset;
		margin: 0;
	}

	.top-tape{
		position: fixed;
		top: 15%;
		width: 17%;
		height: 100px;
		background-color: #282f3e;
		padding: 20px 10px;
	}

	.top-tape p{
		font-family: 'superscr';
		font-size: 0.8em;
		margin: 0 0 15px 0;
	}

	.bottom-tape{
		position: fixed;
		bottom: 17%;
		width: 17%;
		height: 10px;
		background-color: #282f3e;
	}

	.subscribe-wrapper {
		position: absolute;
		bottom: 15px;
		right: 15px;
		text-align: center;
		margin: 0;
		width: 17%;
	}

	.subscribe-wrapper #mc-embedded-subscribe-form {
		width: 100%;
	}

	.subscribe-wrapper #mc_embed_signup label {
		/*font-size: 0.em;*/
	}

	.subscribe-wrapper #mc_embed_signup input.email {
		/*text-align: left;*/
		width: 70%;
		/*margin-bottom: 5px;*/
	}

	.subscribe-wrapper #mc_embed_signup .button {
		padding: 0 10px;
	}

	.subscribe-wrapper #mc_embed_signup .clear {
		width: 27%
	}
}